<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
         <li>
            <a href="{{ site.baseurl }}00-createDroplet.html" {% if page.url == "/00-createDroplet" %}class = "active"{% endif %}>Begin the Process of Creating a VPS On DigitalOcean</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}01-SignIn_on_digitalOcean.html" {% if page.url == "/01-SignIn_on_digitalOcean.html" %}class = "active"{% endif %}>SignIn with your browser</a>
                </li>
            </ul>
       </li>
        <ul>
         <li>
            <a href="{{ site.baseurl }}02-create_Droplet_step1.html" {% if page.url == "/02-create_Droplet_step1.html" %}class = "active"{% endif %}>Create droplet </a>
          <li>
            <a href="{{ site.baseurl }}03-selectDropletImage.html" {% if page.url == "/03-selectDropletImage.html" %}class = "active"{% endif %}>Select droplet image </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}04-chosingImageSize.html" {% if page.url == "/04-chosingImageSize.html" %}class = "active"{% endif %}>Chose droplet image size</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}05-selectRegion.html" {% if page.url == "/05-selectRegion.html" %}class = "active"{% endif %}>Select Region</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}06-additional_Options.html" {% if page.url == "/06-additional_Options.html" %}class = "active"{% endif %}>Select additional Option</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}07-Select_SSH_Keys.html" {% if page.url == "/07-Select_SSH_Keys.html" %}class = "active"{% endif %}>Select SSH Keys</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}08-NumberAndNamesOfTheDropletsToCreate.html" {% if page.url == "/08-NumberAndNamesOfTheDropletsToCreate.html" %}class = "active"{% endif %}>Select number and names of the Droplets to create</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}09-CreateDroplet.html" {% if page.url == "/09-CreateDroplet.html" %}class = "active"{% endif %}>Create Droplet</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}10-logInToYourDroplet.html" {% if page.url == "/10-logInToYourDroplet.html" %}class = "active"{% endif %}>Log in to your Droplet</a>
          </li>
        </ul>
       <!-- 2nd category starts here-->
          <li>
            <a href="{{ site.baseurl }}11-WelcomeToCloudTerminal.html" {% if page.url == "/11-WelcomeToCloudTerminal.html" %}class = "active"{% endif %}>Connect to your server remotely</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}12-LoginViaTheTerminal.html" {% if page.url == "/12-LoginViaTheTerminal.html" %}class = "active"{% endif %}>Initiate the Connection</a>
                  </li>
                <li>
                    <a href="{{ site.baseurl }}13-authenticate.html" {% if page.url == "/13-authenticate.html" %}class = "active"{% endif %}>Authenticate</a>
                  </li>
            </ul>
          </li>
        <!-- <end>new 2nd category list</end> -->

        <!-- new 3rd category list -->
          <li>

            <a href="{{ site.baseurl }}20-createasafeaccountCategory.html" {% if page.url == "/20-createasafeaccountCategory.html" %}class = "active"{% endif %}>Setup Secure User Accounts</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}21-createasafeaccount.html" {% if page.url == "/21-createasafeaccount.html" %}class = "active"{% endif %}>Create a safe server user account</a>
                  </li>
                   <li>
                    <a href="{{ site.baseurl }}22-userCommandsAsUtility.html" {% if page.url == "/22-userCommandsAsUtility.html" %}class = "active"{% endif %}>Other avilable User Account options</a>
                  </li>
            </ul>
          </li>
        <!-- <end>new 3rd category list</end> -->

        <!-- new 4th category list -->
          <li>
            <a href="{{ site.baseurl }}23-firewallConfiguration.html" {% if page.url == "/23-firewallConfiguration.html" %}class = "active"{% endif %}>Install and Configure Basic Firewall</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}24-checkIfInstalledByDefault.html" {% if page.url == "/24-checkIfInstalledByDefault.html" %}class = "active"{% endif %}>Check if UFW is installed</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}25-ufwConfigurationForhttpServer.html" {% if page.url == "/25-ufwConfigurationForhttpServer.html" %}class = "active"{% endif %}>Firewall Configuration for an http Server</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}28-tipAfterEnablingufw.html" {% if page.url == "/28-tipAfterEnablingufw.html" %}class = "active"{% endif %}>SSH-related issue after enabling UFW</a>
                </li>
            </ul>
          </li>

        <!-- <end>new 4th category list</end> -->
        <!-- new 5th category list -->
          <li>
            <a href="{{ site.baseurl }}14.programsInstallationCategory.html" {% if page.url == "/14.programsInstallationCategory.html" %}class = "active"{% endif %}>Setup your Development environment</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}15-install_git.html" {% if page.url == "/15-install_git.html" %}class = "active"{% endif %}>Install git</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}16-install_mysql.html" {% if page.url == "/16-install_mysql.html" %}class = "active"{% endif %}>Install MySQL</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}17-installNodeAndNpm.html" {% if page.url == "/17-installNodeAndNpm.html" %}class = "active"{% endif %}>Install Nodejs and NPM</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}0171-managing_nodejs_versions.html" {% if page.url == "/0171-managing_nodejs_versions.html" %}class = "active"{% endif %}>Install n and the specific Nodejs Versions</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}18-installPm2.html" {% if page.url == "/18-installPm2.html" %}class = "active"{% endif %}>Install PM2</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}19-installNginx.html" {% if page.url == "/19-installNginx.html" %}class = "active"{% endif %}>Install Nginx</a>
                </li>
            </ul>
          </li>
        <!-- <end>new 5th category list</end> -->

        <!-- new 6th category list -->
          <li>
            <a href="{{ site.baseurl }}027-programConfigurationsCategory.html" {% if page.url == "/027-programConfigurationsCategory.html" %}class = "active"{% endif %}>Recently installed program configurations</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}0271-gitConfiguration.html" {% if page.url == "/0271-gitConfiguration.html" %}class = "active"{% endif %}>Git configuration</a>
                  </li>
                <li>
                    <a href="{{ site.baseurl }}0272-mysqlConfigEx.html" {% if page.url == "/0272-mysqlConfigEx.html" %}class = "active"{% endif %}>MySQL configuration</a>
                  </li>
              </ul>
            </li>
        <!-- <end>new 6th category list</end> -->

        <!-- new 7th category list -->
          <li>
            <a href="{{ site.baseurl }}26-deployApp.html" {% if page.url == "/26-deployApp.html" %}class = "active"{% endif %}>Deploy Web Application</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}27-hostAppWithDevDependancies.html" {% if page.url == "/27-hostAppWithDevDependancies.html" %}class = "active"{% endif %}>Run and update your online Web application on the server</a>
                </li>
            </ul>
          </li>
        <!-- <end>new 7th category list</end> -->

      </ul>
  </nav>
</footer>
